/* Overall layout */

body {
    background: #D8DEC3;
    color: #222222;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 14px;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

section, footer, header {
    background: #FDFFFB;
    padding: 1em 1.5em;
}

section#sec_tabs {
    padding: 0 0;
}

header, footer {
    background: #D8DEC3;
}

section#sec_vis_intro {
    border-bottom: 3px solid #C8CEB3;
}

section#sec_vis {
    background: #ffffff;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    overflow-x: scroll;
    padding: 20px;
}

footer {
    border-bottom: 3px solid #C8CEB3;
}

h1 {
    color: #4A3D3D;
    font-size: 38.8px;
    display: block;
    margin-bottom: 0;
    width: auto;
    line-height: 0.95em;
}

header h2 {
    margin-bottom: 0;
    margin-top: 0em;
    font-size: 1em;
    color: #4A3D3D;
}

span.highlight {
    color: #2A1D1D;
}


/* Defaults: headings, colours etc */

h2, h3, h4, h5 {
    color: #4A3D3D;
}

h2 { font-size: 23.3px; }

a:link { 
    color: #4A3D3D;
    text-decoration:none;    
    border-bottom: 1px dotted rgba(2,2,2,0.9);
}
a:visited    {
    color:#4A3D3D;
}

a:hover {
    color:#4A3D3D;
    text-decoration: none;
    border-bottom: none;
}
a:active      {color:#4A3D3D;}

ul {
    margin-left: 0px;
    margin-top: 0.4em;
    margin-right:0.4em;
    margin-bottom: 0.8em;
    margin-left: 1.6em;
    padding: 0px;
}

input {
    background: #ffffff;
    display: inline-block;
    padding: 2px;
    border: 1px solid #4A3D3D;
    border-radius: 5px;
    color: #4A3D3D;
}

button {
    display: inline-block;
    margin: 0 10px;
    padding: 2px 4px;
    background: #D9DECA;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 3px;
    transition: all 0.3s ease-out;
    box-shadow: 0 0 2px 0px #4A3D3D;
}

button:hover {
    background: #DFE3D2;
}

div.tabbar {
    border: solid #ccc;
    border-width: 3px 0px;
}

button.tabbutton {    
    background-color: inherit;
    float: left;
    border: none;
    cursor: pointer;
    padding: 0.5em 2em;
    margin: 0px;
    border-radius: 0px;
    font-weight: bold;
}

div.tabbar button:hover {
    background-color: #ddd;
}

div.tabbar button.active {
    background-color: #ccc;
}

.inputcontainer {
    transition: 0.2s;
}

.tabbar {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


/* Visualization / chart appearance */

table.vis {
	padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

table.vis tr {
}

table.vis td {
	padding: 2px 6px 2px 0px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

table.vis td.playcount {
	color: #8D8585;
    width: 1%;
    white-space: nowrap;
}

table.vis td.artist {
    font-weight: bold;
    width: 2%;
    white-space: nowrap;
}

table.vis td.albumcol {
    width: 90%;
    white-space: nowrap;
}

div.album {
    margin: 0px 3px;
    min-width: 1em;
    padding: 1px 5px;
    display: inline-block;
    text-align: center;
    -moz-border-radius: 0.75em;
    border-radius: 0.75em;
	border: 1px solid #dddddd;
}

div.album span
{
    display: block;
    overflow: hidden;
}

span.album-legend {
	border: 1px solid #dddddd;
    padding: 1px 5px;
    margin: 0px 2px;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
}

span.many-listens, div.many-listens { 
    background: #fDfDfD;
}
span.few-listens, div.few-listens { 
    background: #dddddd; 
}
span.no-listens, div.no-listens { 
    background: #BFE3AB;
}

div.no-listens span.span-name {
    font-weight: bold;
}

div.album span.span-name {
    letter-spacing: -1px;
}

.tooltip {
    position: absolute;			
    text-align: center;			
    width: 120px;
    padding: 2px;
    border: 1px solid #888;	
    font-size: 75%;
    background: #fff;
    border-radius: 5px;			
    pointer-events: none;		
}

.tooltip-row {
    display: block;
    height: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    padding: 1px;
}

/* SVG */

li.tag {
    display: inline-block;
    margin: 3px;
    border: 1px solid #ddd;
    padding: 2px 10px;
    border-radius: 10px;
    background: #f9f9f9;
}

.tag-size-1 {
    font-weight: 100;
}

.tag-size-2 {
    font-weight: 200;
}

.tag-size-3 {
    font-weight: 300;
}

.tag-size-4 {
    font-weight: 400;
}

.tag-size-5 {
    font-weight: 500;
}

.tag-size-6 {
    font-weight: 600;
}

.tag-size-7 {
    font-weight: 700;
}

.tag-size-8 {
    font-weight: 800;
}

.tag-size-9 {
    font-weight: 900;
}

.tag-size-10 {
    font-weight: 900;
}

.timeline-year {
    display: table-cell;
}

/* Visualization: svg */

.axis text {
  font: 10px sans-serif;
  color: #999;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

path {
    stroke: black;
}

.tagline {
    fill: none;
    stroke: #999;
    stroke-width: 1.5px;
}

.tagline.highlighted {
    stroke: black;
    stroke-width: 2px;
}

.tagname, .dot {
    fill: #999;
}

.dot {
    r: 2.5px;
    opacity: 0;
    fill-opacity: 0;
}

.tagname.highlighted, .dot.highlighted {
    fill: black;
}

.dot.highlighted {
    opacity: 1;
    fill-opacity: 1;
}

svg.highlighted .highlightable {
    fill-opacity: 0.5;
    stroke-opacity: 0.5;
}

svg.highlighted .highlighted {
    fill-opacity: 1;
    stroke-opacity: 1;
}


/* Fine-tuning */

#errormsg { color: #ee4422; }
#infomsg { color: #333333; }

.hide {
    display: none;
}

p {
    margin-right: 20%;
}

@media all and (max-width: 800px) {

    p {
        margin-right: auto;
    }
}
